@import 'tailwindcss';

@font-face {
	font-style: normal;
	font-weight: 100 900;
	font-display: optional;
	font-family: 'Geist Mono';
	src: url('/fonts/GeistMono[wght].woff2') format('woff2-variations');
}

body {
	font-family: 'Geist Mono', ui-monospace, monospace;
}

main {
	/* Subtle dotted pattern using layered radial-gradients */
	background-image:
		radial-gradient(rgb(0 0 0 / 8%) 1px, transparent 1px),
		radial-gradient(rgb(0 0 0 / 7%) 1px, transparent 1px);
	background-position:
		0 0,
		8px 8px;
	background-size: 16px 16px;
}
